@font-face {
    font-family: "Gotham Pro";
    src: ("../../static/GothaProLig.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Gotham Pro";
    src: ("../../static/GothaProBol.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Didot";
    src: ("../../static/DidotLTProBold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Didot";
    src: ("../../static/DidotLTProRoman.ttf");
    font-weight: 400;
}