@import '../../../styles/global.scss';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 115px;
    position: fixed;
    top: 0;
    z-index: 999;
    a {
        margin-right: 40px;
        font-weight: 200;
        &:hover {
            color: $colorAccent;
            font-weight: 700;
        }
    }
    .active {
        color: $colorAccent;
        font-weight: 700;
    }
}