@import '../../../theme/globalStyles.scss';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 115px;
    a {
        margin-right: 40px;
        font-weight: 200;
        &:hover {
            color: $colorAccent;
            font-weight: 700;
        }
    }
}